body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.list-group {
    margin: auto;
    max-width: 60%;
}


#banner {
    margin: auto;
    max-width: 100%;
}

#custom-bootstrap-menu {
    max-width: 50%;
}


